<div class="home">
    <ngb-carousel class="home__slider">
        <template ngbSlide class="home__slide">
                <div class="home__slide-back" style="background-image: url('https://lorempixel.com/900/500?r=1')"></div>
            <img src="../../content/images/hipster.png">
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </template>
    </ngb-carousel>
</div>
